/*////////////////////////////
    Table of Contents
    1. Imports
    2. Global Styles
    3. Typography
    4. Areas
        4.1 Recipe Card
        4.2 Card Header
        4.3 Card Body
        4.4 Card Footer

 ////////////////////////////*/
/* ------------------------------- 1. Imports -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* ------------------------------- 2. Gobal Styles ----------------------- */
* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

/* ------------------------------- 3. Typography ------------------------- */
/* - Vul dit document aan met jouw eigen css! - */
/*(lichtgrijs `#F7F7F7` en donkergrijs `#d3d3d3`)*/
body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.icon {
    width: 22px;
    height: 22px;
    padding-left: 8px;
    padding-right: 8px;
}


/* ------------------------------- 4. Areas ------------------------------ */
/* --------------------- 4.1 Recipe Card -------------------- */
.recipe-card {
    /* "auto" aan de zijkanten zorgt ervoor dat het element in het midden komt te staan*/
    margin: 80px auto;
    /* Dit element heeft een vaste breedte van 350 pixels */
    width: 350px;

    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
    overflow: hidden;
}

/* --------------------- 4.2  Card Header -------------------- */
.card-header{
    padding: 0;
    position: relative;
}
.card-header .icon-heart{
    position : absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

/* --------------------- 4.3  Card Body -------------------- */
.card-body {
    background-color: #F7F7F7 ;
    padding: 3px 0 3px 0;
    margin-top: -6px;

}
.card-body span {
    margin-left: 10px;
}
.card-body .icon img {
    margin: -1px;
}



/* --------------------- 4.2  Card Footer -------------------- */

.card-footer {
    padding: 20px;
}



